@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Roboto&display=swap');

.homepage-first-step {
    width: 100%;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}
.homepage-first-step-text{
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 320px;
    margin-top: 90px;
}
#homepage-first-step-ensure{
    width: 80%;
}
.homepage-first-step-text p{
    font-size: 2rem;
    width: 70%;
    font-family: 'Open Sans';
}
.homepage-first-step h3{
    margin-top: 100px;
    height:  56px;
    width: 70%;
    font-size: 2.5rem;
}
.homepage-first-step-anime-container{
    height: 600px;
    width: 600px;
    margin-right: 0px;
}
.homepage-first-step img{
    width: 25%;
    height: 25%;
    margin-left: 600px;
}

.homepage-second-step{
    padding: 40px 0px;
    margin-top: 202px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background-color: #e0e0ff;
}

.homepage-second-step p{
    margin-top: 40px;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 1.4rem;
    color: rgb(45, 45, 45);
}

.homepage-second-step h3{
    font-size: 2rem;
    /* margin-top: 40px; */
    color: rgb(45, 45, 45);
}

.third-step{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #8181EA;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.info{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 40px;
    width: 40%;
    margin-bottom: 40px;
}

.third-step p{
    font-family: 'Open Sans';
    font-size: 1.4rem;
    margin-left: 150px;
}

.third-step img{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

hr{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 900px;
}

.fourth-step{
    margin-bottom: 40px;
    padding:30px;
    color: #8181EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
}

.fourth-step p{
    border: 0px;
    font-size: 1.9rem;
}

.fourth-step h3{
    font-size: 2.5rem;
}

.btn{
    display: flex;
    width: 480px;
    align-items: center;
    justify-content: space-around;
}

.btn a{
    text-decoration: none;
    color: white;
}
.button{
    padding: 20px;
    width: 200px;
    font-size: 20px;
    border-radius:8px;
    border: 0px;
    margin-top: 20px;
    background: #8181EA;
}

@media screen and (min-width: 900px) and (max-width: 1400px){
    .first-step{
        width: 100%;
        height: 400px;
        margin-top:40px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }
    .text h4{
        font-size: 2rem;
        width: 60%;
        font-family: 'Open Sans';
    }
    .first-step h3{
        height: 60px;
        width: 100%;font-size: 3.5rem;
        font-family: 'Open Sans';
    }
    #ensure{
        font-size:2.0rem;
        margin-bottom:100px;
    }
    .third-step img{
        width: 150px;
        height: 90px;
        margin-right: 20px;
    }
    .second-step{
        margin-top: 0px;
        padding-top:0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .third-step{
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: #8181EA;
        border: 3px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }


}
@media screen and (max-width: 768px) {
    /*.first-step{*/
    /*    font-size: 2rem;*/
    /*}*/
    /*.text{*/
    /*    height: 400px;*/
    /*    padding: 90px 90px;*/
    /*    width: 765px;*/
    /*    justify-content: center;*/
    /*}*/
    /*.first-step h3 {*/
    /*    font-size: 5.1rem;*/
    /*    height: 20px;*/
    /*    margin-bottom: 45px;*/
    /*    color:blue;*/
    /*}*/

    /*.first-step h4{*/
    /*    font-size: 2.3rem;*/
    /*    margin-bottom: 150px;*/
    /*}*/
    /*#ensure {*/
    /*    margin-top:0px;*/
    /*    width: 86%;*/
    /*}*/
}