@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');


.first-step{
    width: 50%;
}

.first-step img{
    width: 150%;
}

.second-step{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.second-step p{
    font-family: 'Open Sans';
    text-align: center;
    font-size: 1.4rem;
    color: #8181EA;
}

.second-step h3{
    font-size: 2rem;
    color: #171FE7;
    font-family: 'Open Sans';
    
}

.third-step{
    background-color: #8181EA;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 40px;
    width: 40%;
}
.third-step p{
    font-family: 'Open Sans';
    text-align: center;
    font-size: 1.4rem;
}

#icon1{
    margin-right: 20px;
}


hr{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 900px;
}