*{
font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

.navbar{
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    display: block;
    align-items: center;
    height: 60px;
}

.navbar-container{
    margin: 20px 91px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-bottom: 0px;
}

.logo , .navbar-left, .navbar-container{
    display: flex;
}

.navbar-go2geda-text{
    margin-left: 10px;
    text-decoration: none;
    margin-right: 25px;
    color: rgb(30, 30, 30);
}

.navbar-logo{
    margin-right: 0px;

}

.navbar-options a{
    text-decoration: none;
    color: rgb(45, 45, 45);
}

/* button { 
    font-size: 22px; 
    padding: 8px; 
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 255, 255); 
    border: 1px solid transparent; 
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
} 

button:hover { 
    color: black; 
    background-color: rgb(131, 255, 131); 
    cursor: pointer; 
}  */

.navbar-options{
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.navbar-options a:hover{ 
        color: rgb(211, 206, 206); 
        background-color: rgb(50, 50, 251); 
        cursor: pointer;
}

.navbar-login{
    background-color: rgb(50, 50, 251);
    height: 40px;
    margin-bottom: 10px;
}