
.footer{
    background-color: #8181EA;
    color: white;
    grid-template-columns: auto auto auto;
     display: grid;
   /* justify-content: space-around; */
    height: 300px;
    /* padding: 100px; */
    column-gap: 20px;
    font-family: 'Open Sans';
    font-size: 1.5rem; 
}

.footer-info{
     padding: 46px;
    width: 354px; 
    height: fit-content; 
}


.footer-info p {
    margin-left: 2px;
    margin-top: 26px;
    font-size: 1.1rem;
}