
.footer{
    background-color: #8181EA;
    color: white;
    grid-template-columns: auto auto auto;
    display: grid;
    justify-content: space-around;
    height: 400px;
    padding: 100px;
    column-gap: 20px;
    font-family: 'Open Sans';
    font-size: 2rem;
}

.footer-info{
    padding: 20px;
    width: 700px;
}
