
    .everything{
        padding-top: 30px;
        background-color: rgb(172, 172, 255);
        width: 100%;
    }
    .Header{
        background-color: rgb(129, 129, 234);
        display: flex;
        color: white;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 0px;
        height: 90px;
        align-items: center;
        
    }

h2{
font-size: 2rem;
}
h2 a{
text-decoration: none;
color: white;
}
    
    .navBar{
        display: flex;
        justify-content: space-between;
        width: 600px;
        color:white;
        text-decoration: none;
        list-style: none;
        align-items: center;
        
    }

    .loginButton{
        margin-top: 10px;
        width: 130px;
        height: 45px;
        border-radius: 17px;
        border: none;
        font-size: 20px;
        margin-right: 60px;
    }

    .loginButton a{
            text-decoration: none;
            color: rgb(37, 37, 131);
            
    }
    .loginForm{
        background-color: white;
        margin-top: 30px;
        margin-left: 270px;
        height: 600px;
        width: 900px;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.758);
        display: flex;
        justify-content: space-between;
    }
    
    .loginPicture{
        height:600px;
    width: 400px;
    margin-left: -2px;
    margin-top: 0px;
    }
    .form{
        margin-right:   150px;
    }
    .password{
        height: 50px;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 18px;
    }
    .email{
        height: 50px;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 18px;
    }
    .submitLoginDetails{
        width: 300px;
        height: 40px;
        background-color: rgb(99, 99, 212);
        border-radius: 5px;
        border: none;
        
    }
    .password ::placeholder{
       margin-right: 40px;
    }
    .heading{
        margin-left: 5px;
        font-size: 30px;
        line-height: 60px;
    }
    .heading2{
        margin-left: 5px;
        margin-bottom: 45px;
    }
  /* } */
  
  
/*   
.everything{
    padding-top: 30px;
    background-color: rgb(172, 172, 255);
    height: 100%;
    width: 100%;
}
.Header{
    background-color: rgb(129, 129, 234);
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    width: 600px;
    color:white;
    text-decoration: none;
    list-style: none;
}
.loginButton{
    margin-top: 10px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    margin-right: 20px;
}
.loginForm{
    background-color: white;
    margin-top: 50px;
    margin-left: 290px;
    height: 600px;
    width: 900px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.758);
    display: flex;
    justify-content: space-between;
    
}

.loginPicture{
    height:600px;
}
.form{
    margin-right:   150px;
}
.password{
    margin-top: 25px;
    height: 50px;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 25px;
}
.email{
    height: 50px;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 35px;
}
.submitLoginDetails{
    width: 300px;
    height: 40px;
    background-color: rgb(99, 99, 212);
    border-radius: 5px;
    border: none;
    
}
.password ::placeholder{
*/

.navBar a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

