*{
    margin:0
}
.homemain {
    border-radius: 12px;
    background-color: white;
    border: 1px solid #DADCE0;
    /*margin: auto;*/
    margin-top: 170px;
    margin-left:400px ;
    width: 600px;
    height: 270px;
    box-shadow: 0 24px 50px -12px rgba(0, 0, 0, 0.758);
    padding-top: 50px
}
.main-containerHome{
    background-color: rgb(172, 172, 255);
    height: 900px;
    padding-top: 30px;
}
.home-addres{
    margin-left: 9px;
    margin-top: 10px;
}


.home-addres label{
    margin-left: 22px;
    font-size: 15px;
}
.home-addres input{
    height: 20px;
    width: 350px;
    margin-left: 10px;
}
.submitbasic{
    margin-left: 100px;
}
.submitbasic button{
    margin-top: 25px;
    width: 400px;
    height: 40px;
    background-color: rgb(16, 16, 227);
    color:white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.homemain h2{
    margin-left: 250px;
    margin-bottom: 20px;
}
.state-addres{
    margin-left: 30px;
    margin-top: 15px;
    /*margin-left: 10px;*/
}

.state-addres label{
    /*margin-left: 22px;*/
    /*font-size: 20px;*/
}
.state-addres input{
    height: 20px;
    width: 350px;
    margin-left: 69px;
    /*margin-top: 30px;*/
}
.local-addres label{
    /*margin-left: 22px;*/
    /*font-size: 20px;*/
}

.local-addres{
    margin-left: 30px;
    margin-top: 15px;
    /*font-size: 20px;*/
}

.local-addres input{
    margin-left: 35px;
    width: 350px;
    /*font-size: 20px;*/
}