.driverlicence-maincontainer{
    border-radius: 10px;
    background-color:white;
    border: 1px solid #DADCE0;
    margin: auto;
    width: 600px;
    height: 600px;
    padding-top: 20px;
    line-height: 40px;
    box-sizing: border-box;

}
.driverlic-main{
    background-color: rgb(172, 172, 255);
    height: 600px;
    padding-top: 30px;
}
h1{
    font-size:20px;
}
p{
    margin-left: 90px;
}
.drive-liceImage img{
    width: 420px;
    height: 300px;
    margin-left: 92px;
}
.pic-uploadlic{
    margin-left: 30px;
    font-size: 18px;
}
.pic-uploadlic label{
    margin-left: 63px;
    font-size: 17px;
}
.submitdriverlicAcc{
    margin-left: 93px;
}
.submitdriverlicAcc button{
    margin-top: 10px;
    width: 450px;
    height: 40px;
    background-color: rgb(12, 12, 12);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

