*{
margin: 0;
}
.main-driverphoto{
    background-color: rgb(172, 172, 255);
    height: 900px;
    padding-top: 30px;
}
.main-containerdriverphoto{
    border-radius: 10px;
    background-color:white;
    border: 1px solid #DADCE0;
     margin: auto;
     width: 600px;
      height: 600px;
     padding-top: 20px;
    line-height: 40px;
    box-sizing: border-box;


}
#profilephoto{
    font-size: 20px;
}
.youProfiletxt p{
    font-size: 15px;
    margin-left: 87px;
}
.othertxt p{
    /*font-size: ;*/
    font-weight: 90;
    margin-left: 80px;
}
/* img{*/
/*    width: 300px;*/
/*     height: 250px;*/
/*     margin-left: 100px;*/
/*    !*margin-right: 100px;*!*/
/*}*/
.headshotImage img{
    width: 360px;
    height: 200px;
    margin-left:82px ;
}
.avatar-upload {
    margin-left: 30px;
    font-size: 20px;
}
.avatar-upload label{
    margin-left: 52px;
    font-size: 15px;
}
.submitphotoAcc{
    margin-left: 80px;
}
.submitphotoAcc button{
    margin-top: 25px;
    width: 450px;
    height: 40px;
    background-color: rgb(12, 12, 12);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}