.driverlicence-maincontainer{
    border-radius: 10px;
    background-color:white;
    border: 1px solid #DADCE0;
    margin: auto;
    width: 600px;
    height: 600px;
    padding-top: 20px;
    line-height: 40px;
    box-sizing: border-box;

}
.driverlic-main{
    background-color: rgb(172, 172, 255);
    height: 600px;
    padding-top: 30px;
}
h1{
    font-size:20px;
}
p{
    margin-left: 90px;
}
img{
    margin-left: 170px;
}


