*{
    margin: 0;
}
.main{
    background-color: rgb(172, 172, 255);
    height: 100.3vh;
    padding-top: 50px;
    /* display: flex;
    justify-content: center; */
}

.main-container {
    background-color:white;
    width: 550px;
    margin-top: 60px;
    margin-left: 800px;
    /*margin-top: 30px;*/
    /*height:650px;*/
    /*margin-bottom: 90px;*/
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.758);
     justify-content: center;
    /*margin-right: 90px;*/
    /*margin: auto;*/
    border: 1px solid #DADCE0;
    border-radius: 30px;
    font-size: 16px;
    /*padding:  30px;*/
    outline: none;
    /*border: 70px;*/
    padding-top: 30px;
    /*margin: 60px;*/
    box-sizing: border-box;
    /*font-family: UberMove, UberMoveText, 'Helvetica Neue', Helvetica, sans-serif;*/
    /*font-size: 0.875em;*/
    /*line-height: 1.71429;*/
}

h1{
    margin-left: 90px;
    font-size: 40px;
    font-family: "Open Sans";
}
#regd{
    margin-left: 90px;
    font-size: 25px;
    padding-bottom: 10px;
}
#need{
    font-size: 13px;
    margin-left: 90px;
    margin-bottom: 30px;
}
.required ul {
    margin-left: 50px;
    font-size: 15px;

}
.link {
    color: #0c0c0c;
    /*margin-bottom: 90px;*/
}
.link:hover {
    color: #00F
}
#h {
    margin-left: 10px;
    width: 370px;
    margin-top: 10px;
    /*margin-bottom: 90px;*/
}
#fowrd1{
    margin-left: 300px;
}
#fowrd2{
    margin-left: 280px;
}
#fowrd3{
    margin-left: 270px;
}
#fowrd4{
    margin-left: 210px;
}
.submitbasicverif{
    margin-left: 50px;
}
.submitbasicverif button {
    margin-bottom: 25px;
    width: 300px;
    height: 40px;
    background-color: rgb(16, 16, 227);
    color:white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 360px) {
    @media (device-width: 100vw) and (device-height: 100vh)

    .welcom h1 {
        font-size: 28px;
        margin-left: 0;
    }

    #regd {
        font-size: 30px;
        margin-left: 330px;


    }

    #need {
        font-size: 18px;
        margin-left: 330px;

    }

    .required ul {
        font-size: 16px;
        margin-left: 0;
    }

    #h {
        width: auto;
        margin-left: 0;
    }

    #fowrd1,
    #fowrd2,
    #fowrd3,
    #fowrd4 {
        margin-left: 0;
    }
}
