.main-container {
    background-color:white;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: UberMove, UberMoveText, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 0.875em;
    line-height: 1.71429;
}

.welcom h1{
    margin-left: 300px;
    font-size: 50px;
    font-family: "Arial Black", serif;
}
#regd{
    font-size: 30px;
    margin-left: 320px;
}
#need{
    font-size: 15px;
    margin-left: 320px;
}
.required ul {
    margin-left: 278px;
    font-size: 30px;
}
.link {
    color: #0c0c0c;
}
.link:hover {
    color: #00F
}
#h {
    margin-left: 10px;
}
