.Header{
    background-color: rgb(129, 129, 234);
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
    padding-top: 20px;
    height: 50px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    width: 350px;
    color:white;
    list-style: none;
    font-size: 20px;
}

.navBar a{
    text-decoration: none;
    color: white;
}
.logo{
    padding-left: 30px;
}

.loginButton{
    margin-top: 0px;
    width: 120px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin-right: 90px;
    cursor: pointer;
}
.loginButton:hover{
    border-radius: 10px;
    border: solid 2px white;
    background-color: rgb(155, 155, 235);
    color: white;
    transition: 0.5s;
}